body, html
{
	background-color: beige;
	margin: 0;
	padding: 0;
}

.topicheading {
	background: ButtonFace;
	color: WindowText;
	padding: 5px 8px;
	margin: 0;
	border-bottom: 1px solid ThreeDDarkShadow;
	font-size: 30px;
	font-weight: bold;
}
h1, h2, h3, h4 { color: #2a4664 !important; }

hr.section_separator
{
	height: 5px;
	border: none;
	background-color: #ccc;
	border-radius: 2px;
	margin: 25px 0;
}

p.small
{
	font-size: 12px;
}

#content
{
	padding: 10px;
}

a { color: #32648a; }
a:hover
{
	color: #2a4664;
	text-decoration: none;
}
